*.egg-info
*.local
*.lock
*.log*
*.njsproj
*.ntvs*
*.py[oc]
*.sln
*.suo
*.sw?
*.tsbuildinfo
.DS_Store
.idea
.venv
/dist*
__pycache__/
backend/cases
backend/static
build/
dist/
logs
node_modules
wheels/
